# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore VS Code settings folder
.vscode/

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore generated model files (if you prefer not to push them)
models/*.pkl

# Ignore OS-specific files
.DS_Store
Thumbs.db
